*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
.text-center {
  text-align: center;
}

.helper {
  background: rgba(255, 0, 0, 0);
  position: fixed;
  bottom: 0;
}
.helper-banner {
  margin: 20px;
  background: #0067ff;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

/* navbar */
.nav {
  position: fixed;
  width: 100%;
  background: white;
}
.nav img {
  height: 30px;
  margin: 20px;
}
.nav p {
  padding-top: 30px;
  padding-left: 30px;
  display: inline-block;
}
.sign-in {
  border: 2px solid #0067ff;
  padding: 10px;
  border-radius: 5px;
  color: #0067ff;
  font-weight: bold;
}
.sign-in:hover {
  color: white;
}
.sign-up {
  border: 2px solid #0067ff;
  background: #0067ff;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.sign-up:hover {
  background: #010e28;
  color: white;
  border: 2px solid #010e28;
}
.menu-icon {
  display: none;
}
.nav-links a:hover {
  color: #0067ff;
}
.sign-in:hover {
  background: #0067ff;
  color: white;
}
@media all and (max-width: 768px) {
  .nav p {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
}
@media all and (min-width: 769px) and (max-width: 1200px) {
  .nav p {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
}

/* banner */
.banner {
  background-image: url(https://i.pinimg.com/originals/29/ab/33/29ab33c3b3cb4ae3a23eaa5097c5bdf9.png);

}
.free-credit {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  margin: 20px;
  margin-top: 100px;
  border-radius: 10px;
}
.free-credit:hover {
  background: #0067ff;
}
.banner h1 {
  color: white;
  font-size: 60px;
  width: 60%;
  margin-top: 80px;
  padding: 10px;
}
.description {
  font-size: 30px;
  color: white;
  line-height: 35px;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 200px;
  padding: 10px;
}
.form {
  margin-top: 80px;
  background: white;
  border-radius: 10px;
}
.form h2 {
  padding: 20px;
  text-align: center;
}
.form input {
  padding: 15px;
  margin: 10px;
  width: 95%;
  font-size: 15px;
  border-radius: 10px;
  border: 0px;
}
.banner img {
  height: 15px;
  padding-right: 20px;
}
.form p {
  margin: 10px;
  text-align: center;
}
.form hr {
  width: 90%;
  margin: auto;
}
.registration {
  text-align: center;
  background: #0067ff;
  width: 95%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  color: white;
}
.registration:hover {
  background: #010e28;
  color: white;
}
.registration-google {
  text-align: center;
  background: white;
  width: 95%;
  margin: auto;
  padding: 19px;
  border-radius: 5px;
  border: 1px solid black;
  color: grey;
}
.registration-google:hover {
  background: #010e28;
  color: white;
}
.term {
  color: #0067ff;
}

/* sponsor */
.sponsor {
  background: rgb(243, 245, 249);
}
.sponsor img {
  height: 30px;
  margin: 20px;
}
.text-sponsor {
  text-align: center;
  margin: 40px;
  font-weight: bold;
}
.buisness-solutions {
  color: rgb(19, 100, 255);
  font-weight: bold;
  margin: 30px;
}
.buisness-solutions-col {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

/* learn more */
.learn-more h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
}
.learn-more-description {
  text-align: center;
  line-height: 30px;
  padding: 10px;
}

/* hub */
.hub-container {
  border-left: 1px solid grey;
  margin-top: 50px;
}
.hub {
  padding: 20px;
}
.hub-container a:hover {
  color: #0067ff;
}
.hub-link {
  margin: 20px;
  font-size: 20px;
  display: block;
}
.hub-icon {
  margin-top: 50px;
}
.hub-title {
  margin-top: 10px;
}
.hub-description {
  margin-top: 30px;
}

/* slider */
.slider {
  background: rgb(243, 245, 249);
}
.slider-title {
  text-align: center;
  font-size: 40px;
  margin: 30px;
}
.slider-description {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.arrow {
  margin-top: 200px;
  height: 100px;
}
@media all and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
.slider-text-final {
  font-size: 20px;
  margin: 20px;
}
.circle {
  height: 20px;
  margin: 10px;
  margin-bottom: 100px;
}

/* statistics */
.statistics {
  background-image: linear-gradient(to right, blue ,#0067ff);
}
.statistics-title {
  margin: 50px;
  text-align: center;
  color: white;
}
.number {
  color: white;
  display: inline-block;
  margin-right: 50px;
}
.region {
  color: grey;
  display: inline-block;
  margin-right: 100px;
}
.statistics a {
  color: aqua;
}
.statistics a:hover {
  color: white;
}
.fly-left {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-right: 150px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.fly-right {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
}

/* slider-2 */
.slider-2-title {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 40px;
}

/* get started now */
.get-started-now {
  background-image: linear-gradient(to right, blue ,#0067ff);
}
.get-started-now h1 {
  text-align: center;
  margin: 50px;
  color: white;
  font-size: 40px;
}
.get-started-now a {
  color: #0067ff;
  font-size: 20px;
  background: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}
.get-started-now a:hover {
  background: #010e28;
  color: white;
}
.demo {
  margin-bottom: 50px;
  text-align: center;
}

/* footer */
footer {
  background: #010e28;
}
footer img {
  height: 30px;
  margin: 20px;
}
.copyright-text {
  color: white;
  margin-left: 20px;
}
.copyright-text-2 {
  color: grey;
  margin-left: 20px;
}
.credit {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
footer a {
  color: grey;
  display: block;
  margin-top: 10px;
}
.footer-link {
  margin-bottom: 30px;
  padding-left: 20px;
}
.footer-link a:hover {
  color: white;
}
