*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;

}
.text-center {
  text-align: center;
}

/* navbar */
.navbar img {
  height: 30px;
  margin: 20px;
}
.navbar p {
  padding-top: 30px;
  padding-left: 30px;
  display: inline-block;
}
.sign-in {
  border: 2px solid #0067ff;
  padding: 10px;
  border-radius: 10px;
  color: #0067ff;
  font-weight: bold;
}
.sign-up {
  border: 2px solid #0067ff;
  background: #0067ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

/* banner */
.banner {
  background: #0067ff;
  background-size: cover;
}
.free-credit {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
.banner h1 {
  color: white;
  font-size: 60px;
  width: 60%;
  margin-top: 80px;
}
.description {
  font-size: 30px;
  color: white;
  line-height: 35px;
  margin-top: 20px;
  width: 80%;
  margin-bottom: 200px;
}
.form {
  margin-top: 80px;
  background: white;
  border-radius: 10px;
}
.form h2 {
  padding: 20px;
  text-align: center;
}
.form input {
  padding: 15px;
  margin: 10px;
  width: 95%;
  font-size: 15px;
  border-radius: 10px;
}
.register {
  background: #0067ff;
  color: white;
  padding: 10px;
  margin: 10px;
  width: 95%;
  font-size: 15px;
  border-radius: 10px;
  font-weight: bold;
}
.register-google {
  color: #0067ff;
  padding: 10px;
  margin: 10px;
  width: 95%;
  font-size: 15px;
  border-radius: 10px;
  border: 2px solid #0067ff;
  font-weight: bold;
}
.banner img {
  height: 15px;
  padding-right: 20px;
}
.form p {
  margin: 10px;
  text-align: center;
}

/* sponsor */
.sponsor {
  background: rgb(243, 245, 249);
}
.sponsor img {
  height: 30px;
  margin: 20px;
}
.text-sponsor {
  text-align: center;
  margin: 40px;
  font-weight: bold;
}
.buisness-solutions {
  color: rgb(19, 100, 255);
  font-weight: bold;
  margin: 30px;
}
.buisness-solutions-col {
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

/* learn more */
.learn-more h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
}
.learn-more-description {
  text-align: center;
  line-height: 30px;
}

/* hub */
.hub-container {
  border-left: 1px solid grey;
  margin-top: 50px;
}
.hub {
  padding: 20px;
}
.hub-link {
  margin: 20px;
  font-size: 20px;
  display: block;
}
.hub-icon {
  margin-top: 50px;
}
.hub-title {
  margin-top: 10px;
}
.hub-description {
  margin-top: 30px;
}

/* slider */
.slider {
  background: rgb(243, 245, 249);
}
.slider h2 {
  text-align: center;
  font-size: 40px;
  margin: 30px;
}
.slider-description {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.arrow {
  margin-top: 200px;
  height: 100px;
}
@media all and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
